<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__body">
        <h4 class="footer__suptitle">#moreaboutus</h4>
        <h3 class="footer__title">Download our E-Brochure</h3>
        <form class="footer__form">
          <fieldset class="input-group">
            <input class="footer-input" type="text" placeholder="EMAIL ADDRESS">
          </fieldset>
          <button class="button-primary" type="submit">submit</button>
        </form>
      </div>
      <div class="footer-bottom">
        <a class="footer__link" href="#">
          privacy
        </a>
        <a class="logo-link" href="#">
          <img class="logo" src="./img/header/logo-white.svg" alt="logo" >
        </a>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">news</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>