<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo-link" href="#">
        <img class="logo" src="./img/header/logo.svg" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#" data-transfusion> About </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#" data-transfusion> Solutions </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#" data-transfusion> Carrers </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#" data-transfusion> News </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#" data-transfusion> Contacts </a>
          </li>
        </ul>
      </nav>
      <div class="header-right">
        <div class="language">
          <button class="language__item">
            <span>English</span>
            <svg class="arrow-down">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>
          <ul class="language__list">
            <li class="language__item">
              <span>Português</span>
            </li>
          </ul>
        </div>
        <a class="with-link" href="#">
          <img class="with-img" src="./img/header/with.png" alt="with" />
          <img
            class="with-img with-white"
            src="./img/header/with.white.png"
            alt="with-white"
          />
        </a>
      </div>
      <button class="burger" data-open-menu>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
