<div class="menu-modal" data-menu>
  <div class="menu__body">
    <div class="menu__content">
      <div class="menu__header">
        <a class="menu-link" href="#">
          <img
            class="menu__logo"
            src="./img/header/logo-white.svg"
            alt="logo"
          />
        </a>
        <button class="button-cross" data-close-menu></button>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#"> About </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> Solutions </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> Carrers </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> News </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> Contacts </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="menu-bottom">
      <div class="intro__follow">Follow Affinity</div>
      <div class="social__row">
        <a class="social-link" href="#">
          <svg class="social-icon">
            <use xlink:href="#linkedin"></use>
          </svg>
        </a>
        <a class="social-link" href="#">
          <svg class="social-icon">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
        <a class="social-link" href="#">
          <svg class="social-icon">
            <use xlink:href="#twitter"></use>
          </svg>
        </a>
        <a class="social-link" href="#">
          <svg class="social-icon youtube">
            <use xlink:href="#youtube"></use>
          </svg>
        </a>
        <a class="social-link" href="#">
          <svg class="social-icon">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
